# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
tsconfig.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Yarn
package.zip
/.yarn/install-state.gz
/.yarn/unplugged/
/.pnp
.pnp.js
/.pnp.cjs
.pnp.loader.mjs
.yarn/cache